.select2-selection--multiple{
    width: 352px;
}

.btm-notify-table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 70%;
}

.btm-th-td{
    border: 1px solid #dddddd;
}

.btm-th-td input[type=checkbox] {
    margin: 0;
}

.btm-notify-table tr th:first-child,
.btm-notify-table tr td:first-child{
    width: 3%;
    text-align: center;
}

.form-table th.btm-th-td{
    padding: 15px 10px;
}

.btm-tr:nth-child(even) {
    background-color: white;
}

.btm-user{
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
}

.btm-user-remove{
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.btm-bulk-action{
    margin-bottom: 7px;
}

.column-priority, .column-bulk_size, .column-date_created, .column-date_started, .column-date_finished, .column-task_id{
	width: 150px;
}
.column-callback_action, .column-status{
	width: 250px;
}

.btm-task-edit p.submit {
    float: left;
    margin-top: 0;
}

.btm-task-edit a.btm-cansle-edit {
    float: left;
    margin-left: 10px;
    padding-top: 5px;
}